.insertContainer h2 {
  display: block;
  width: 328px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 22px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;

  color: #404064;
}
.insertContainer input {
  margin: 0 auto;
  margin-bottom: 12px;
  background: #ffffff;
  border: 1px solid #d6dce9;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #cccccc;
  padding: 6px 36px 6px 12px;
  width: 328px;
  height: 36px;
}
.Caption{
  display: block;
  width: 328px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 22px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #404064;
}
.ErrorBlock {
  margin-top: 60px;
  background-color: #ffe9db;
  height: 96px;
}
.ErrorBlock img {
  margin-left: 48px;
  margin-right: 24px;
}
.ErrorBlock p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #333333;
}
form{
  margin: 0 auto;
}
.insertContainer input:first-child {
  margin-top: 34px;
  margin-bottom: 14px;
}
.BtnSubmit {
  margin: 0 auto;
  margin-top: 26px;
  background: #ffce0c;
  border-radius: 4px;
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 328px;
  height: 36px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}
